@import "tailwindcss";

@theme {
    --accent: #2490ba;
    --color-accent: var(--accent);
}

:root {
    color-scheme: light;
}

body.page-photo header,
body.page-general header {
    @apply hidden md:flex;
}

.avatar-squircle {
    clip-path: url(#squircle);
}

.prose .link {
    @apply underline decoration-accent decoration-2 outline-none underline-offset-2 outline-offset-2;
    @apply hover:no-underline focus-visible:no-underline focus-visible:outline-accent;
}

.button {
    @apply px-4 py-2 text-sm font-medium rounded-full bg-zinc-900 text-white outline-accent transition hover:-translate-y-0.5 focus-visible:outline-2;
}

.button--secondary {
    @apply border border-accent bg-white text-accent;
}

@supports (height: 100dvh) {
     .container.min-h-screen {
          min-height: 100dvh;
     }
}
